<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
    <% include partials/nav.ejs %>

    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><p><%= message %></p></div>
    <% } %>

    <h3>All Books</h3>

    <% include partials/footer.ejs %>
  </body>

</html>
