<!DOCTYPE html>
<html>
  <% include partials/head.ejs %>
  <body>
    <% include partials/nav.ejs %>

    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><p><%= message %></p></div>
    <% } %>

    <h3>Trade some books brah</h3>

    <form id="searchForm" action="/search" method="post">
      <div class="form-inline">
        <input type="text" class="form-control" name="searchQuery" placeholder="Look for some books brah" required>
        <button type="submit" class="btn btn-primary"><span>Go</span></button>
      </div>
    </form>
    <% include partials/footer.ejs %>
  </body>

</html>
